@model IEnumerable<Courses>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Courses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>All Courses</h1>
    <br />
    <br />
    <a asp-controller="Course" asp-action="Create" class="btn btn-primary">Create New Course</a>
    <div class="row justify-content-center align-items-center mt-5">
        <form method="post" asp-controller="Course" asp-action="Index" class="row col-8 offset-2">
            <div class="col-8">
                <input type="text" class="form-control" name="Search" placeholder="Search By Title" />
            </div>
            <div class="col-4">
                <input type="submit" value="Search" class="btn btn-success" />
            </div>
        </form>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="mt-4 table table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(C=>C.Title)</th>
                    <th>@Html.DisplayNameFor(S => S.Description)</th>
                    <th>@Html.DisplayNameFor(S => S.Hours)</th>
                    <th>@Html.DisplayNameFor(S => S.Price)</th>
                    <th>@Html.DisplayNameFor(S => S.StartDate)</th>
                    <th>@Html.DisplayNameFor(S => S.EndDate)</th>
                    <th>Instrctor</th>
                    <th>Category</th>
                    <th>Details</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Course in Model)
                {
                    <tr>
                        <td>@Course.Title</td>
                        <td>@Course.Description</td>
                        <td>@Course.Hours</td>
                        <td>@Course.Price</td>
                        <td>@Course.StartDate</td>
                        <td>@Course.EndDate</td>
                        <td>@Course.Instructor.FirstName</td>
                        <td>@Course.Categorie.Name</td>
                        <partial name="_IconsPartial" model="@Course.ID.ToString()">
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="mt-4 alert alert-warning">
            <h4>There Is No Courses :(</h4>
        </div>
    }
    <a asp-controller="Admin" asp-action="Index" class="btn btn-dark">Back To Admin Dashboard</a>
</body>
</html>